{
  "homeServerUrl": "https://matrix.your-homeserver.org",
  "accessToken": "youraccesstokencanbeobtainedthroughriot",
  "domain": "yourdomain.tld",
  "webSocketDomain": "ws.yourdomain.tld",
  "secure":true,
  "storage": "config/bot.json",
  "assetDir": "assets/",
  "webServerPort": "8080",
  "webSocketServerPort":"8090",
  "monitorChannels": [
    "!yoursourceroomeid0:matrix.your-homeserver.org",
    "!yoursourceroomeid1:matrix.your-homeserver.org",
    "!yoursourceroomeid2:matrix.your-homeserver.org"
    ],
  "relayTypes" : [
    "m.image",
    "m.video"
  ],
  "extractYoutubeLinks": true,
  "showYoutubeTitle": true
}